.footer {
    display: grid;
    grid-template-columns: repeat(auto-fill,
            minmax(350px, 1fr));
    justify-items: center;
    gap: 30px;
    background-color: #0F0F0F;
    color: #FFFFFF;
}

.item {
    display: grid;
    margin: 20vh 5vw 20vh 5vw;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    align-items: center;
}

.title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.text {
    font-size: 14px;
    line-height: 21px;
}

.blockcategory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.category {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

#email-label {
    display: inline-block;
    margin-bottom: 40px;
}

#email {
    width: 120px;
    height: 32px;
    padding: 5px 0px 5px 10px;
    border: 0px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.4);
}

#submit {
    width: 140px;
    height: 43px;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    background-color: #0F0F0F;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .block1 {
        display: none;
    }

    .item {
        margin: 10vh 5vw 10vh 5vw;
    }

    .title {
        margin-bottom: 10px;
    }

    #email {
        padding: 5px 10px 5px 10px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        display: none;
    }
}