@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PT_Sans/PTSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

.body {
    background: #0F0F0F;
}

.head_content_container_top {
    font-family: 'PTSans';
    font-size: 12px;
    max-width: 987px;
    color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 14px 0;
}

.head_content_container_top .contacts {
    color: gray;
}

.head_content_container_top .contacts .text {
    color: gray;
    padding-left: 5px;
    padding-right: 5px;
}

.head_content_container_top .contacts .call {
    padding-right: 1px;
}

.head_content_container_top .auth {
    text-align: right;
}

.head_content_container {
    font-family: 'PTSans';
    max-width: 987px;
    margin: 0 auto;
    height: 80px;
    display: grid;
    grid-template-columns: 310px auto 100px;
    
}

.head_content_container .title {
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    padding: 10px 0;


}

.head_content_container .options {
    color: gray;
    font-weight: bold;
    font-size: 14px;
    padding: 31px 40px 31px 0;
    text-align: right;
}

.head_content_container .options a {
    color: gray;
    text-decoration: none;
}

.head_content_container .options .text {
    padding-top: 20px;
    padding-left: 20px;
}

.head_content_container .icons {
    padding: 27px 0;
    padding-left: 0px;
}

.head_content_container .icons .icons2 {
    padding-left: 40px;
}